/* css reset 清除樣式 */
/* ---------------css reset頭--------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---------------css reset尾--------------- */
/* ---------------固定盒模型模式--------------- */
*,*:before,*:after{
    box-sizing: border-box;
}
/* ---------------固定盒模型模式--------------- */
/* ---------------除錯模式--------------- */
/* *{
    outline: 1px solid black;
} */
/* ---------------除錯模式--------------- */

.wrap{
    width: 1302px;
    height: 932px;
    margin: auto;
    background: rgb(112,241,174);
    display: flex;
    align-items: center;
}
.title{
    display: flex;
    color: rgb(31,77,65);
    margin-left: 128px;
    margin-right: 88px;
}
.title h1{
    writing-mode: vertical-lr;
    font-size: 60px;
    margin-right: 25px;
}
.title p{
    writing-mode: vertical-lr;
    font-size: 30px;
    margin-top: 10px;
    letter-spacing: 10px;
    font-weight: bold;
}
.card{
    width: 717px;
    height: 419px;
    background: rgb(237,237,237);
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    border-radius: 15px;
    font-weight: bold;
    padding: 35px;
    overflow:hidden;
    position:relative;
    box-shadow: 0px 0px 20px gray ;
}
.card img{
    width: 180px;
    height: auto;
}
.card p{
    font-size: 30px;
    color: rgb(73,118,128);
    margin-left: 10px;
}
.card h2{
    font-size: 40px;
    color: rgb(39,93,76);
    margin-left: 110px;
}
.card ul{
    font-size: 20px;
    color: rgb(82,131,141);
    margin-left: 10px;
}
.card li{
    margin-bottom: 2px;
}
.box1,.box2,.box3{
    clip-path:polygon(25% 0%, 75% 0%,100% 50%,75% 100%,25% 100%,0% 50%);
    position:absolute
}
.box1{
    width:256px;
    height:220px;
    background: rgb(87, 190, 127);
    top:0px;
    top: -60px;
    right: -120px;
}
.box2{
    width:200px;
    height:170px;
    background: rgb(134, 209, 170);
    top: 170px;
    right: -80px;
}
.box3{
    width:150px;
    height:128px;
    background: rgb(114, 156, 146);
    top: 100px;
    right: 80px;
}